dotfiles/profile.d/work.env
dotfiles/profile.d/work.aliases
dotfiles/zsh.d/cache
dotfiles/vim/backups
dotfiles/vim/tmp
dotfiles/vim/.netrwhist
dotfiles/mutt.d/account.include
dotfiles/mutt.d/cache
dotfiles/mutt.d/certificates
dotfiles/weechat/logs
dotfiles/weechat/weechat.log
dotfiles/ghc/ghci_history
dotfiles/ghc/x86*
dotfiles/sbt/**/*/project/
dotfiles/sbt/**/*/target/
dotfiles/sbt/**/*.jar
dotfiles/sbt/**/*.lock
dotfiles/sbt/**/*.log
dotfiles/xmonad/*.hi
dotfiles/xmonad/*.o
dotfiles/xmonad/*.errors
dotfiles/xmonad/xmonad-x86_64-*
dotfiles/profile.d/lookout.*
