dotfiles/profile.d/work.env
dotfiles/profile.d/work.aliases
dotfiles/zsh.d/cache
dotfiles/vim/backups
dotfiles/vim/tmp
dotfiles/vim/.netrwhist
dotfiles/mutt.d/account.include
dotfiles/mutt.d/cache
dotfiles/mutt.d/certificates
dotfiles/weechat/logs
dotfiles/weechat/weechat.log
