[submodule "dotfiles/vim/bundle/vim-scala"]
	path = dotfiles/vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-sbt.git
[submodule "dotfiles/vim/bundle/elm.vim"]
	path = dotfiles/vim/bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "dotfiles/emacs.d"]
	path = dotfiles/emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
	branch = master
